*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font: 16px/1.2 "Roboto", sans-serif;
    color: #333;
    height: 300px;
    overflow: scroll;
}
.blog {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.alink {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
input[type="text"],
button {
    padding: 4px 8px;
    border: 0;
    outline: 0;
}
button {
    background-color: transparent;
    cursor: pointer;
}
button:hover i {
    color: #79c7c5;
    transform: scale(1.2);
}

.container {
    width: 450px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    background-color: #f9fbff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.chat_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat_box > * {
    padding: 16px;
}

.head {
    display: flex;
    align-items: center;
}
.head .user {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.head .user .avatar {
    margin-right: 8px;
}
.head .user .avatar img {
    display: block;
    border-radius: 50%;
}
.head .bar_tool {
    display: flex;
}
.head .bar_tool i {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    flex-grow: 1;
    background-color: #eee;
}
.body .bubble {
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.body .bubble p {
    color: #f9fbff;
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
}
.body .incoming {
    text-align: left;
}
.body .incoming .bubble {
    height: 30px;
    background-color: #b2b2b2;
}
.body .outgoing {
    text-align: right;
}
.body .outgoing .bubble {
    background-color: #79c7c5;
    height: 30px;
}

.foot {
    display: flex;
    padding: 10px 2px;
}
.foot .msg {
    flex-grow: 1;
}

.circle-btn {
    position: relative;
    background-color: #71da52ba;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
}

.mdi-send {
    width: 32px;
    height: 32px;
    line-height: 3px;
    z-index: 2;
    position: absolute;
    font-size: 16px;
    color: #fff;
    left: 0;
    text-align: center;
    cursor: pointer;
}

@keyframes bounce {
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.ellipsis {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #b7b7b7;
}

.dot_1 {
    animation: bounce 0.8s linear 0.1s infinite;
}
.dot_2 {
    animation: bounce 0.8s linear 0.2s infinite;
}
.dot_3 {
    animation: bounce 0.8s linear 0.3s infinite;
}
