<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kevin Chat</title>
    <style type="text/css">
        input#chat {
            width: 410px
        }
 
        #console-container {
            width: 400px;
        }
 
        #console {
            border: 1px solid #CCCCCC;
            border-right-color: #999999;
            border-bottom-color: #999999;
            height: 170px;
            overflow-y: scroll;
            padding: 5px;
            width: 100%;
        }
 
        #console p {
            padding: 0;
            margin: 0;
        }
    </style>
    <script type="application/javascript">
		alert(window.location.host);
        
		var name
        function Ensure(){
        	name = document.getElementById('name').value;
        	if (name == ''){
        		console.log('empty');
        		alert('please enter your name');
        	}
        	else{
        		Chat.initialize();
        	}
        }//end
        
        var Chat = {};
   	 
        Chat.socket = null;
        Chat.connect = (function(host) {
            if ('WebSocket' in window) {
                Chat.socket = new WebSocket(host);
            } else if ('MozWebSocket' in window) {
                Chat.socket = new MozWebSocket(host);
            } else {
                Console.log('Error: WebSocket is not supported by this browser.');
                return;
            }

            Chat.socket.onopen = function () {
                Console.log("Hint: You are joining the chatroom now!")
                document.getElementById('chat').onkeydown = function(event) {
                    if (event.keyCode == 13) {
                        Chat.sendMessage();
                    }
                };
            };
 
            Chat.socket.onclose = function () {
                document.getElementById('chat').onkeydown = null;
                Console.log('Info: WebSocket closed');
            };
 
            Chat.socket.onmessage = function (message) {
                Console.log(message.data);
            };
        });
 
        Chat.initialize = function() {
        	var roomid = 0;
        	console.log('ws://' + window.location.host + '/websocket/'+name);
            if (window.location.protocol == 'http:') {
                Chat.connect('ws://' + window.location.host + '/websocket/'+name);
            } else {
                Chat.connect('wss://' + window.location.host + '/websocket/'+name);
            }

        };
 
        Chat.sendMessage = (function() {
            var message = document.getElementById('chat').value;
            var name = document.getElementById('name').value;
            if (message=='' | name==''){
            	alert('please enter your name and message');
            }
            else{
                Chat.socket.send(name + ": " +message);
                document.getElementById('chat').value = '';
            }
        })
        
        var Console = {};
 
        Console.log = (function(message) {
            var console = document.getElementById('console');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.innerHTML = message;
            console.appendChild(p);
            while (console.childNodes.length > 25) {
                console.removeChild(console.firstChild);
            }
            console.scrollTop = console.scrollHeight;
        });
 


        document.addEventListener("DOMContentLoaded", function() {
            // Remove elements with "noscript" class - <noscript> is not allowed in XHTML
            var noscripts = document.getElementsByClassName("noscript");
            for (var i = 0; i < noscripts.length; i++) {
                noscripts[i].parentNode.removeChild(noscripts[i]);
            }
        }, false);
    </script>
</head>
	<body>
	<div class="noscript"><h2 style="color: #ff0000">Noscript</h2></div>
	<div>
	    <p>
			<font size="3">Name: </font><input type="text" id="name" />
		</p>
		<p>
			 <button  onclick="Ensure()">Connect</button>
		</p>
		<p>
	        <font size="3">Message: </font><input type="text" placeholder="type and press enter to chat" id="chat" />
		</p>
		<p>
			<button>Send</button>
	    </p>
	    <div id="console-container">
	        <div id="console"></div>
	    </div>
	</div>
	</body>
</html>