<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>WebSocket Test</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chatroom.css}" href="../static/css/chatroom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/js/chatroom.js}" src="../static/js/chatroom.js"></script>
</head>

<body>
    <div class="container">
        <div class="chat_box">
            <div class="head">
                <div class="user">
                    <div class="avatar">
                        <img src="https://avatars.githubusercontent.com/u/42539369?v=4" width="40" alt="Kevin avatar"/>
                    </div>
                    <div class="name">Online Chat Room</div>
                </div>
            </div>
            <div class="body">
<!--                <div class="incoming">-->
<!--                    <div class="bubble">-->
<!--                        <p>Init..</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="outgoing">-->
<!--                    <div class="bubble lower">-->
<!--                        <p>Nah, it's cool.</p>-->
<!--                    </div>-->
<!--                    <div class="bubble">-->
<!--                        <p>Well you should get your Dad a cologne. Here smell it. Oh wait! ...</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="typing">-->
<!--                    <div class="bubble">-->
<!--                        <div class="ellipsis dot_1"></div>-->
<!--                        <div class="ellipsis dot_2"></div>-->
<!--                        <div class="ellipsis dot_3"></div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="foot">
                <input type="text" class="msg mr-3" placeholder="Type a message..." id="text-input"/>
                <button id="send-msg-btn" class="circle-btn">
                    <span class="mdi mdi-send"></span>
                </button>
            </div>
        </div>
    </div>
</body>
</body>
</html>